extends templates/layout.pug

block vars
  - var activepage = "muatan";
  - var headerText = "SHIPPER";

block header
  header.header#header(class=headerColor=="white"?"header--white":"")
    .container
      a.header__logo(href="dashboard.html")
        img.img(src="images/logo-agros.png")
        img.img-alt(src="images/logo-agros-alt.png")
        span.text= headerText
      .header__menu
        ul
          //- li.btn-message.show-mobile
          //-   a(href="#")
          //-     i.icon
          //-       .ic(style="background-image: url(images/ic-messenger.svg)")
          li.btn-home.hide-mobile
            a(href="dashboard.html")
              i.icon
                .ic(style="background-image: url(images/ic-home.svg)")
          li.btn-notif
            a(href="#")
              span.icon
                .ic(style="background-image: url(images/ic-notif.svg)")
                i.number 3
            .notif-box
              //- h3 Notifikasi
              .n-wrapper
                .pertime
                  span Hari ini,
                  span.t-notif  3 Notifikasi Baru
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-coin.png)")
                  .box-text
                    small Agros Transaction
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PO AGR001/02/2020#096
                    a.btn-do(href="#") Selesaikan Tagihan 1
                    .time 15 menit yang lalu
                  .tag.new Baru
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-coin.png)")
                  .box-text
                    small Agros Transaction
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PO AGR001/02/2020#096
                    a.btn-do(href="#") Selesaikan Tagihan 1
                    .time 15 menit yang lalu
                  .tag.new Baru
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-coin.png)")
                  .box-text
                    small Agros Transaction
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PO AGR001/02/2020#096
                    a.btn-do(href="#") Selesaikan Tagihan 1
                    .time 15 menit yang lalu
                .pertime
                  span Kemarin,
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-envelope.png)")
                  .box-text
                    small Agros Messengger
                    h4 Muatan Terlambat Karena...
                    span.nopo Mega Admin: Kemarin sebenernya sudah di lanjutkan
                    .time 1 Hari yang lalu
                  .tag.msg 12 Pesan
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-envelope.png)")
                  .box-text
                    small Agros Messengger
                    h4 Muatan Terlambat Karena ...
                    span.nopo Leny Admin: Kemarin sebenernya sudah di lanjutkan
                    .time 1 Hari yang lalu
                  .tag.msg 12 Pesan
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-pending.png)")
                  .box-text
                    small Muatan Tertunda
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PURCHASE ORDER AGR001/02/2020#096
                    .time 1 Hari yang lalu
              .clue Scroll kebawah untuk melihat lebih banyak
          li.btn-guide
            a(href="#")
              i.icon
                .ic(style="background-image: url(images/fi-rr-interrogation.svg)")
          li.btn-logout.show-mobile
            a(href="#")
              i.icon
                .ic(style="background-image: url(images/fi-rr-power.svg)")
          li.btn-login
            a(href="#") LOGOUT
      .header__toggle
        span
        span
        span
      .mobile__floating-menu
        ul
          li(class=activepage =="dashboard"? "current-page":"")
            a(href="dashboard.html")
              .icon-box
                .icon(style=activepage =="dashboard"? "background-image: url(images/ic-menu-mobile-active-01.svg)":"background-image: url(images/ic-menu-mobile-01.svg)")
              span Home

          li(class=activepage =="order"? "current-page":"")
            a(href="#")
              .icon-box
                .icon(style=activepage =="order"? "background-image: url(images/ic-menu-mobile-active-02.svg)":"background-image: url(images/ic-menu-mobile-02.svg)")
              span Order
          li(class=activepage =="muatan"? "current-page":"")
            a(href="#")
              .icon-box
                .icon(style=activepage =="muatan"? "background-image: url(images/ic-menu-mobile-active-03.svg)":"background-image: url(images/ic-menu-mobile-03.svg)")
              span Muatan

block content

  .loading-page
    .loading-page__wrap
      .loading-page__logo
        .icon
          img(src="images/logo-icon.png")
        .text
          img(src="images/logo-text.png")
    span.foot-text PT ANTAR GLOBAL PROSPERO
  .block-dashboard
    section.inner-header
      .container
        .row
          .col-lg-7.animate.animate--up
            a.arrow.mobile(href="dashboard.html")
            h1 Purchase Order Aktif
          .col-lg-5.animate.animate--up
            .search
              form
                .form-group
                  input.form-control(type="text" placeholder="Ketik Nomor Purchase Order / Delivery Order ...")
        .breadcrubms.animate.animate--up
          u NAVIGATION :
          a(href="#") Homepage
          a(href="#") Dashboard
          span PURCHASE ORDER AKTIF

    section.po-and-features
      .container
        .row
          .col-lg-4#anno-1
            .row
              .col-lg-6
                .box-card.light-green.animate.animate--up
                  .icon
                    .ic(style="background-image: url(images/ic-rect-check.png)")
                  h4 <b>PO</b> Aktif
                  .text
                    p Purchase order yang <b>sedang berjalan</b>.
                  .total
                    span 10
                  .link-seemore
                    a(href="#") Lihat lebih lanjut
              .col-lg-6
                .box-card.cream.bg-white.animate.animate--up
                  .icon
                    .ic(style="background-image: url(images/ic-rect-file.png)")
                  h4 <b>PO</b> Sisa
                  .text
                    p Purchase order yang <b>sedang berjalan</b>.
                  .total
                    span 2
                  .link-seemore
                    a(href="#") Lihat lebih lanjut

          .col-lg-4
            .box-card.gradient-green.animate.animate--up(style="background-image: url(images/box-bg-pattern-green.png)")
              .icon
                .ic(style="background-image: url(images/ic-box-add.png)")
              a.ext-link(href="po-add.html" target="_blank")
              h3 TAMBAH <br>PURCHASE ORDER
              .text
                p Purchase order dapat dilakukan <br>dalam Agros Shipper

          .col-lg-4
            .box-card.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-user-accnt.png)")
              a.ext-link(href="#" target="_blank")
              h3 PT. ANTAR GLOBAL PROSPERO
              .contact
                a(href="tel: +62313974550") +62 (31) 3974550
                <br>
                a(href="mailto:antarglobalprospero@gmail.com") Antarglobalprospero@gmail.com

    section.your-do.det-list
      .container
        .your-do__do-det.animate.animate--up#anno-2
          a.box-link(href="#")
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar
                  .pb
                    .pb-block
                      span(style="width: 20%")
                    .prcntg 20%
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")
        .your-do__do-det.animate.animate--up
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar
                  .pb
                    .pb-block
                      span(style="width: 20%")
                    .prcntg 20%
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")
        .your-do__do-det.animate.animate--up
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar
                  .pb
                    .pb-block
                      span(style="width: 20%")
                    .prcntg 20%
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")
        .your-do__do-det.animate.animate--up
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar
                  .pb
                    .pb-block
                      span(style="width: 20%")
                    .prcntg 20%
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")
        .your-do__do-det.animate.animate--up
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar
                  .pb
                    .pb-block
                      span(style="width: 20%")
                    .prcntg 20%
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")
        .row
          .col-lg-6
            .pagination-wrap.left
              .text
                p Jumlah Purchase Order per halaman
              .perpage
                ul.pagination
                  li.active
                    span 5
                  li
                    a(href="#") 10
          .col-lg-6
            .pagination-wrap.animate.animate--up
              u Halaman
              ul.pagination
                li.active
                  span 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") 4
                li
                  a(href="#") 5

                li.before
                  a(href="#")
                    .ic-arrow
                li.after
                  a(href="#")
                    .ic-arrow

block addscript
  script.
    var w = $(window).width();
    if (w > 760) {
      var pos1 = 'center-right',
          pos2 = 'center-left',
          pos3 = 'right',
          pos4 = 'bottom',
          pos5 = 'center-top',
          cn6 =  'annoNotif right-bottom';
    }else{
      var pos1 = 'center-bottom',
          pos2 = 'center-top',
          pos3 = 'center-bottom',
          pos4 = 'center-bottom',
          pos5 = 'center-bottom',
          cn6 =  'annoNotif mobile';
    }
    var tour = new Anno([
      {
        target: '#anno-1',
        position: pos1,
        className: 'annoNotif',
        content: "<h4><img src='images/ic-file-check-nobox.svg'>PO Aktif</h4><p>Anda berada dalam daftar <b style='color: #4C9F70;'>PO Aktif</b>, ditandai dengan tombol berwarna. Pilih salah satu untuk langsung menampilkan <br><b style='color: #4C9F70;'>PO Aktif</b> / <b style='color: #FFBB00;'>PO Sisa</b>.</p>",
        buttons: {
          text:'Lanjut',
        }
      },{
        target: '#anno-2',
        position: pos5,
        className: 'annoNotif',
        content: "<h4><img src='images/ic-file-check-nobox.svg'>Status PO dan DO.</h4><p>Menampilkan perkembangan pengiriman muatan Anda, dengan menampilkan DO yang sedang kami kirim dan DO yang belum terambil.</p>",
        buttons: {
          text:'Mengerti',
        },
        onHide: function () {
          $('body').removeClass('no-scroll');
          $('html, body').animate({
            scrollTop: 0
          }, 300)
        }
      }
    ])
    $('[id*="anno-"]').each(function(){
      $(this).addClass('animate--in');
    })
    setTimeout(function() {
      tour.show()
    }, 4850);
    $(window).resize(function() {
      tour.hide();
      setTimeout(function() {
        tour.show();
      }, 800);
    })
    $('.btn-guide').each(function(){
      $(this).click(function(){
        tour.show();
      })
    })